body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}



/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
  url('../fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cuprum.woff') format('woff'); /* Modern Browsers */
}
/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
  url('../fonts/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cuprumitalic.woff') format('woff'); /* Modern Browsers */
}
/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
  url('../fonts/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cuprumbold.woff') format('woff'); /* Modern Browsers */
}
/* cuprum-700italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
  url('../fonts/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cuprumbolditalic.woff') format('woff'); /* Modern Browsers */
}

/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
}

.main-header {
  background-color: #f3f7f8;
}

.header-top-bg {
  background-color: #293449;
}

.content-wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.main-header-top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header-top-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  line-height: 0;

  padding: 12px 55px;
}

.main-header-logo:hover,
.main-header-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.header-search-form {
  margin-right: auto;
}

.header-search-form input {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  border: none;
  background-color: #293449;
}

.header-search-form input:hover {
  background-color: #212a3a;
}

.header-search-form input::placeholder {
  color: #ffffff;
}

.header-search-form input:focus {
  background-color: #ffffff;
}

.header-top-link {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  //padding: 12px 30px;
}

.header-top-link:hover {
  background-color: #212a3a;
}

.header-top-link:active {
  opacity: 0.6;
}

.button-bookmark {
  padding: 12px 30px 12px 48px;
}

.button-basket {
  padding: 12px 30px 12px 48px;
}

.header-top-link.button-order {
  background-color: #63a63e;
  padding: 12px 21px;
}

.header-top-link.button-order:hover {
  background-color: #5fbb2d;
}

.header-top-link.button-order:active {
  opacity: 0.5;
}

.main-header-bottom-wrapper {
  padding-bottom: 65px;
}

.main-header-middle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 46px 0 39px;
}

.main-header-text {
  font-family: Cuprum;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.main-header-text {
  margin: 0;
  margin-top: 2px;
  margin-left: 52px;
}

.main-header-contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header-phone {
  display: inline-block;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  margin: 0;
  padding: 10px 48px 10px 74px;
}

.main-header-address {
  font-family: Cuprum;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin: 2px 0 0;
}

.profile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-register,
.button-profile {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 12px 24px;
}

.button-register {
  margin-left: 10px;
}

.button-logon {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 12px 26px 12px 48px;
}

.button-logon:hover,
.button-register:hover,
.button-logon:focus,
.button-register:focus {
  color: #ee3643;
}

.button-logon:active,
.button-register:active,
.button-profile:active {
  color: #b2b2b2;
}

.link-profile {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.link-profile:hover {
  color: #ee3643;
}

.link-profile:active {
  color: #c5cad0;
}

.site-navigation {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.goods-list,
.advantages-services {
  list-style: none;
  padding-left: 0;
}

.advantages-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.site-navigation a {
  font-family: Cuprum;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
  padding-top: 20px;
  padding-bottom: 18px;
  flex-grow: 1;
  margin: 0;
}

.site-navigation li:first-child a {
  padding-left: 20px;
}

.site-navigation li:last-child a {
  padding-right: 22px;
}

.site-navigation li {
  flex-grow: 1;
  display: flex;
  text-align: center;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: #a8abaf;
  background-color: #1d2739
}

.advantages {
  //display: flex;
  margin-bottom: 53px;
}

.advantages li {
  width: 300px;
  height: 123px;
  //padding-left: 25px;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  margin: 59px 0 20px;
}

.goods-list h3,
.advantages-services h3 {
  font-family: Cuprum;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 23px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.goods-list a,
.advantages-services a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 25px;
  width: 135px;
  height: 38px;
  //text-align: center;
}

.advantages-link {
  background-color: rgba(50, 66, 92, 0.1);
}

.advantages-link:hover {
  background-color: rgba(50, 66, 92, 0.2);
}

.advantages-link:active {
  background-color: rgba(50, 66, 92, 0.3);
}

.slider-services-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.goods-list .materials {
  background-color: #ffbf47;
}

.goods-list .instruments {
  background-color: #3bbce3;
}

.goods-list .equipment {
  background-color: #dc91d8;
}

.advantages-services .discount {
  background-color: #8ed78f;
}

.advantages-services .delivery {
  background-color: #ffc047;
}

.slider {
  line-height: 0;
}

.slider-item {
  background-color: #000000;
  position: relative;
}

.slider-item-title {
  font-family: Cuprum;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 10px;
}

.slider-item-text {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;
  top: 100px;
}

.slider-item-link {
  position: absolute;
  top: 200px;
  left: 0;
}

.slider-item-link,
.about-link,
.address-link {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
}

.about-link {
  padding: 10px 40px;
}

.map-link {
  font-size: 0;
  margin-bottom: 30px;
}

.address-link {
  padding: 10px 60px 10px 64px;
}

.slider-item-link:hover,
.slider-item-link:focus {
  background-color: #ca2c37;
}

.slider-item-link:active {
  background-color: #ba2732;
}

.slide-perforator {
  display: none;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  padding-left: 0;
}

.section-header {
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
  padding: 25px 0;
}

.section-title {
  font-family: Cuprum;
  font-weight: normal;
  letter-spacing: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
  //margin-left: 30px;
}

.popular-products {
  margin-bottom: 21px;
}

.popular-brands {
  margin-bottom: 65px;
}

.popular-products-link,
.popular-brands-link,
.service-item-description-link {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.service-item-description {
  margin-bottom: 0;
  margin-top: 25px;
}

.popular-products-link,
.popular-brands-link {
  height: 38px;
  width: 253px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.products-item {
  width: 218px;
  height: 317px;
  border: 1px solid #a9a9a9;
}

.products-item:hover img {
  opacity: 0;
}

.products-item:hover .products-button-block {
  opacity: 1;
}

.products-item article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.products-button-block {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  display: flex;
  position: absolute;
  top: 0;
  width: 218px;
  opacity: 0;
}

.product-buy-button {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
  border: none;
  box-shadow: 0 3px 0 0 #367315;
}

.product-buy-button:hover,
.product-buy-button:focus {
  background-color: #5fbb2d;
}

.product-buy-button:active {
  background-color: #518534;
}

.product-mark-button {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.product-mark-button:hover {
  border: 3px solid #32425c;
}
.product-mark-button:active {
  opacity: 0.3;
}

.product-old-price {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
  margin: 0;
}

.product-price {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
  margin: 0;
}

.popular-manufacturers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-manufacturers-list {
  list-style: none;
  padding-left: 0;
}

.service-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-left: 80px;
}

.popular-brands-item {
  border: 1px solid #a9a9a9;
  width: 218px;
  height: 144px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.popular-brands-item:hover,
.popular-brands-item:focus {
  box-shadow: 0 10px 25px 0 #293449;

}

.popular-brands-item:active {
  box-shadow: 0 4px 10px 0 #293449;

}

.popular-brands-item-link {
  //padding: 24px 0;
}

.services-bg {
  background-color: #f4f7f9;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 65px;
  padding-bottom: 95px;
}

.services .section-title {
  margin: 0;
}

.services-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 70px;
}

.service-item-warranty,
.service-item-credit {
  display: none;
}

/*.services-text, .service-item-description, .about-text, .address-text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}*/

.about-text {
  margin: 0;
  margin-top: 7px;
}

.address-text {
  margin: 26px 0 30px;
}

.services-text {
  margin: 24px 0 0;
}

.service-title-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.about-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.service-title-button {
  font-family: Cuprum;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  border: none;
  padding: 14px 21px 18px;
  min-width: 240px;
  text-align: left;
}

.service-title-button:hover,
.service-title-button:focus {
  background-color: #293449;
}

.service-title-button.active {
  color: #32425c;
  background-color: #ffffff;
}

.service-item-title {
  font-family: Cuprum;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
}

.about .section-title, .address .section-title {
  color: #000000;
}

.about-list li {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 20px 36px;
}

.information {
  display: flex;
  justify-content: space-between;

  padding-top: 82px;
  padding-bottom: 85px;
}

.about, .address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.breadcrumbs {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.breadcrumbs a {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 10px;
}

.page-title {
  font-family: Cuprum;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.page-title {
  background-color: #f2f6f8;
}

.filtered-content {
  display: flex;
}

.filter {}

.sort-links h2 {
  margin-right: auto;
}

.filter h2, .sort-links h2 {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
}

.filter fieldset {
  border: 0;
  padding-left: 0;
}

.filter fieldset:not(:last-child) {
  border-bottom: 1px solid grey;
}

.filter legend {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.filter input[type="number"] {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  background-color: #f7f3ec;
  border: none;
}

.brand-list, .power-list {
  list-style: none;
  padding-left: 0;
}

.brand-name, .power-from {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter button {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sort-links {
  background-color: #f7f3ec;
  display: flex;
  align-items: center;
}

.sort-link {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #acaaa5;
  text-decoration: underline;
  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
}

.sort-link:hover,
.sort-link:focus {
  color: #000000;
  text-decoration-style: solid;
}

.sort-link.active {
  color: #ee3643;
  text-decoration: none;
}

.pagination {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.page-link {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
}

.page-link:hover,
.page-link:focus {
  border-color: #bdc6ca;
}

.page-link:active {
  border-color: #ee3643;
}

.page-link.active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.sort-asc-btn, .sort-desc-btn {
  display: none;
}

.about-perforators {
  background-color: #f2f6f8;
}

.about-perforators .section-title {
  color: #000000;
}

.popup-email-us, .popup-map, .popup-info {
  display: none;
}

.popup-label {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.popup-email-us input::placeholder {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.popup-submit-buttom, .popup-buy-button {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.popup-button-block {
  background-color: #f1f1f1;
}

.popup-continue-button {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.popup-info h2 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.footer {
  background-color: #32425c;
}

.footer-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  padding: 21px 41px 12px;
  margin-right: 115px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding-bottom: 50px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-top-menu, .footer-middle-menu {
  list-style: none;
  padding-left: 0;
}

.footer-top-menu {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

.footer-middle-menu {
  display: flex;
  flex-grow: 1;
}

.footer-middle-menu li {
  margin-left: auto;
}

.footer-top-menu li {
  margin-left: auto;
}

.footer-top-menu a {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-top-menu a:hover,
.footer-top-menu a:focus,
.footer-middle-menu a:hover,
.footer-middle-menu a:focus {
  text-decoration: underline;
}

.footer-top-menu a:active,
.footer-middle-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-middle-address {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 33px;
  margin-bottom: 0;

  margin-right: 40px;
}

.footer-middle-menu a {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-bottom-bg {
  background-color: #293449;
}

.footer-bottom-text {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social-links a {
}

.footer-bottom-link-description {
  display: flex;
  flex-direction: column;
}

.footer-bottom-link-description {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-link {
  color: #ffd180;
}

.footer-bottom-link:hover,
.footer-bottom-link:focus {
  text-decoration: underline;
}

.footer-bottom-link:active {
  text-decoration: none;
  color: #ee3643;
}
